@page "/admin"
@model FORUM_CZAT.Pages.AdminApprovalPageModel
@{
}
<center><h1>Admin approval page</h1></center>

<center>@foreach(var post in Model.Posts)
{
<div class="col-md-6">
<div class="card">
                <div class="card-header">
                    <center><b>New Post</b></center>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Id:</b> @post.Id<br />
                        <b>Title:</b> @post.Title<br />
                        <b>Description:</b> @post.Description<br />
                        <b>Nick:</b> @post.Author<br />
                        <b>Category:</b>@post.Category<br />
                        <b>Creation Time:</b> @post.CreationTime<br>
                        <b>Verified: </b>@post.IsVerified</p>
                          
                   <form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="py-2">
             <button class="btn btn-success" asp-route-id="@post.Id" asp-page-handler="Posty"> Approve </button>
             <button class="btn btn-danger" asp-route-iddel="@post.Id" asp-page-handler="Posty"> Reject </button>
    </div>
</form> 
<hr />
</div>
</div><br>
</div>
}</center>
<center>
    @foreach(var url in Model.Urls)
{
  
    <div class="col-md-6">
<div class="card">
                <div class="card-header">
                    <center><b>New URL</b></center>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Id: </b>@url.Id<br>
                        <b>Url: </b>@url.WWW<br>
                        <b>Desc: </b>@url.Description<br>
                        <b>Verified: </b>@url.IsVerified
                    </p>
                   <form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="py-2">
             <button class="btn btn-success" asp-route-id="@url.Id" asp-page-handler="URL"> Approve </button>
             <button class="btn btn-danger" asp-route-iddel="@url.Id" asp-page-handler="URL"> Reject </button>
    </div>
</form> 
<hr />
</div>
</div><br>
</div>
}</center>
<center>
    @foreach(var category in Model.Categories)
{
  
    <div class="col-md-6">
<div class="card">
                <div class="card-header">
                    <center><b>New category</b></center>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Id: </b>@category.Id<br>
                        <b>Category: </b>@category.Category<br>
                        <b>Verified: </b>@category.IsVerified
                    </p>
                   <form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="py-2">
             <button class="btn btn-success" asp-route-id="@category.Id" asp-page-handler="Categories"> Approve </button>
             <button class="btn btn-danger" asp-route-iddel="@category.Id"> Reject </button>
    </div>
</form> 
<hr />
</div>
</div><br>
</div>
}</center>