@foreach(var post in Model.AfterApprovalPost)
{
<center><div class="col-md">
<div class="card">
                <div class="card-header">
                   <center> <b>Post</b></center>
                </div>
                <div class="card-body">
                    <p class="card-text">
                       
                        <b>Title:</b> @post.Title<br />
                        <b>Description:</b> @post.Description<br />
                        <b>Nick:</b> @post.Author<br />
                        <b>Category:</b> @post.Category<br />
                        <b>Creation Time:</b> @post.CreationTime</p>
                   <form method="post">
   
</form> 
<hr />
</div>
</div>
</div>
</center><br />
}