@page
@model FORUM_CZAT.Pages.Categories.BoardModel
@{
}
@* <div class="row">
     <partial name="CategorySelectview" />
     <partial name="ApprovedPostView" />
 </div>*@

 @foreach(var post in Model.AfterApprovalPost)
{
<div class="col-md-12">
<div class="card">
                <div class="card-header">
                   <center> <b>Post</b></center>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Id:</b> @post.Id <br />
                        <b>Title:</b> @post.Title<br />
                        <b>Description:</b> @post.Description<br />
                        <b>Nick:</b> @post.Author<br />
                        <b>Category:</b> @post.Category<br />
                        <b>Creation Time:</b> @post.CreationTime</p>
<hr />
<form method="post">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Your comment" name="comment">
  <span class="input-group-text"></span>
  <input type="text" class="form-control" placeholder="Your nick" name="author">
  <button class="btn btn-success" asp-route-postid="@post.Id" asp-route-comment="comment" asp-route-author="author"> Add comment </button>
</div>
</form>
<form method="get">
    <div class="py-2">
        <button type="submit" name="Id"  value="@post.Id" class="btn btn-primary" asp-page-handler="Test" >Load</button>
    </div>
</form>         
                @if (Model.Comments == null)
                {
                    <b>You must load comments.</b>
                }
                else
                {
                @foreach(var comment in Model.Comments.Where(x=>x.PostId == @post.Id))
                {
                    <b>Comment: </b>@comment.CommentDescription <b>Author: </b>@comment.CommentAuthor <b>Creation Time: </b>@comment.CreationTime<br />
                }
                }
            </div>
</div><br/>
</div>
}