@page
@model FORUM_CZAT.Pages.Forum.BoardModel
@{
}
 <div class="row">
     <partial name="CategorySelectview" />
 </div>
@foreach(var post in Model.Posts){

<div class="col-md-12"><br>
    <div class="card">
       <div class="card-header">
           <center> <b>Post</b></center>
       </div>
            <div class="card-body">
                    <p class="card-text">
                        <b>Title:</b> @post.Title<br />
                        <b>Description:</b> @post.Description<br />
                        <b>Nick:</b> @post.Author<br />
                        <b>Category:</b> @post.Category<br />
                        <b>Creation Time:</b> @post.CreationTime</p><hr />
<form method="post">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Your comment" name="comment">
  <span class="input-group-text"></span>
  <input type="text" class="form-control" placeholder="Your nick" name="author">
  <button class="btn btn-success" asp-route-postid="@post.Id" asp-route-comment="comment" asp-route-author="author"> Add comment </button>
</div>
</form>
<!-- Modal -->
      <form method="get">
    <div class="py-2">                                   
        <button type="button" data-bs-target="#Modal_@post.Id" name="Id" value="@post.Id" class="btn btn-primary"  data-bs-toggle="modal">Show comments</button>
    </div>
</form> 
<div class="modal fade" id="Modal_@post.Id" tabindex="-1" aria-hidden="true">
    
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         @foreach(var comment in Model.Comments.Where(x=>x.PostId == @post.Id))
                {
                    <hr><li class="list-group-item list-group-item-success"><b>Comment: </b>@comment.CommentDescription <b> <br>Author: </b>@comment.CommentAuthor <b>Creation Time: </b>@comment.CreationTime<br /></li>
                }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
</div>
</div>
</div>

}


